html {
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

body {
	background: $gray;
	font-family: roboto;
	
	.container {
		padding: 0 20px;
    max-width: 600px;
    margin: auto;
	}
}

.alert {
  text-align: center;
  span {
    color: $gray2;
    margin-bottom: 20px;
  }

  img {
    width: 90%;
  }
}