@font-face {
  font-family: cute;
  src: url("/fonts/Cute_Font/CuteFont-Regular.ttf");
}

@font-face {
  font-family: montserrat;
  src: url("/fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: play;
  src: url("/fonts/Play/Play-Regular.ttf");
}

@font-face {
  font-family: roboto;
  src: url("/fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: teko;
  src: url("/fonts/Teko/Teko-Regular.ttf");
}