.header {
	display: flex;
	margin-top: 20px;
	margin-bottom: 20px;

	.icon {
		flex: 1;
		width: 60px;
		max-width: 60px;
		height: 60px;
		background: $yellow;
		border-radius: 50%;

		img {
			width: 38px;
			margin-top: 10px;
			margin-left: 12px;
		}
	}

	.text {
		flex: 1;
		font-size: 28px;
		margin-left: 10px;
		padding-top: 12px;
		color: $gray2;
	}
}